# Gradle / Android
.gradle/
build/
app/build/
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
keystore/
keystore.properties
output.json

# 系统
.DS_Store
Thumbs.db
